{
    "presets": [
        ["@babel/preset-env", {
            "loose": false,
            "modules": "commonjs",
            "spec": true,
            "targets": {
                "browsers": [
                    "last 3 Chrome versions",
                    "last 3 Firefox versions",
                    "Safari >= 10",
                    "Explorer >= 11",
                    "Edge >= 12",
                    "iOS >= 10",
                    "Android >= 6"
                ]
            },
            "debug": false
        }]
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        [
            "@babel/plugin-transform-runtime",
            {
                "absoluteRuntime": false,
                "corejs": false,
                "helpers": true,
                "regenerator": true,
                "useESModules": false
            }
        ]
    ]
}
